<div class=" welcome container">
  <h1 class="text-center">Welcome</h1>
  <% if @user.errors.present? %>
      <p>
          <%= @user.errors.full_messages.join(', ') %>
      </p>
  <% end %>
</div>

<div class="sign container" style="width:800px">
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <h2 class="mb-4">Sign Up</h2>
        <%= form_with model: @user, local: true do |f| %>
            <div class="form-group">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>

            <%= f.submit 'Create User', class: 'btn btn-success' %>
        <% end %>
    </div>
</div>



<style media="screen">
  body {
    background: #141E30;  
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to right, #243B55, #141E30); 
        
  }


.welcome{
   margin-top: 100px;
}

.sign{
   margin-top: 50px;  
}


h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
