

<div class="first container">
    <div class="row justify-content-around">
     <% @arts.each do |art| %>
        <div class="card  col-md-5 my-2 ">
          <%= image_tag art.image.variant(resize: '500X500'), class: 'card-img-top mt-3' if art.image.attached? %>
            <div class="card-body">
               <h5 class="card-title"><%= art.title.truncate(50) %></h5>
                <p class="card-text"><%= art.description.truncate(30) %></p>
                 <div class="">
                   <%= link_to 'Read More', art, class: 'btn btn-primary mb-2' %>
                   <small class="right"><strong>Liked <%= art.likes.count %></strong></small>
                   <br>
                   <% if art.comments_count %>
                   <small class="right"><strong>Comments  <%= art.comments_count %></strong></small>
                   <% end %>
                 </div>
              </div>
          </div>
        <% end %>
     </div>
  </div>








<style media="screen">
  body {
    background: #41295a;
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);
    background: linear-gradient(to right, #2F0743, #41295a);

  }

  .right{
    float: right;
  }

  .first {
      margin-top: 100px;
      margin-bottom: 100px;
  }
</style>
