

<div class="container">
<h2 class="text-font text-white ml-4">Search By Name</h2>
        <input class="ml-4" id="search-text" type="text" placeholder="Giselle">
</div>

<div class="first container">
  <div class="row justify-content-around">
     <% @arts.each do |art| %>
        <div class="card  col-md-5 mx-2 my-2">
          <%= image_tag art.image.variant(resize: '500X500'), class: 'card-img-top mt-3 d-none d-md-block' if art.image.attached? %>
            <div class="card-body">
               <h5 class="card-title"><%= art.title.truncate(50) %></h5>
                <p class="card-text"><%= art.description.truncate(30) %></p>
                <p class="text-muted"><strong><%= art.user.full_name %></strong></p>
                 <div class="">
                   <%= link_to 'Read More', art, class: 'btn btn-primary mb-2' %>
                   <% if art.comments_count %>
                   <button type="button" class="btn btn-warning right ">
                           <i class="fas fa-comment-dots"></i><span class="ml-2 badge badge-light"><%= art.comments_count %></span></button>
                   <% end %>
                   <button type="button" class="btn btn-danger right d-none d-md-block mr-2">
                      <i class="fas fa-heart"></i><span class="ml-2 badge badge-light"><%= art.likes.count %></span></button>
                 </div>
            </div>
        </div>
    <% end %>
  </div>
</div>





<script>

   function fillter (obj, searchPhrase){
     return  obj.children[1].children[2].innerText.toLowerCase().includes(searchPhrase.toLowerCase())
   }


  const cards = document.querySelectorAll('.card')


  const renderCards = function (cards, searchPhrase) {
    cards.forEach(function (card) {
       // # console.dir(card)
      card.classList.remove('d-none')
      if (! fillter(card, searchPhrase)) {
       card.classList.add('d-none')
      }
    })
  }

  document.querySelector('#search-text').addEventListener('input', function (e) {
    const searchPhrase = e.target.value
    renderCards(cards, searchPhrase)
})

</script>




<style media="screen">
  body {
    background: #41295a;
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);
    background: linear-gradient(to right, #2F0743, #41295a);

  }

  .container {
    margin-top: 35px;
  }

  .right{
    float: right;
  }

  .first {
      margin-top: 50px;
      margin-bottom: 100px;
  }

  .card-title{
    font-family: Playball;
  }


  .text-font{
      font-family: Playball;
  }

  .fa-comment-dots {
    color: white;
  }

</style>
