<div class="container mt-5">
   <p class="text-center text-white" id="notice"><%= notice %></p>
</div>



<div class="container">
    <div class="row justify-content-around">
    <% @arts.each do |art| %>
        <div class="card  col-md-5 my-2 ">
          <%= image_tag art.image.variant(resize: '500X500'), class: 'card-img-top mt-3' if art.image.attached? %>
           <div class="card-body">
               <h5 class="card-title"><%= art.title %></h5>
                <p class="card-text"><%= art.description.truncate(30) %></p>
                 <div class="">
                   <%= link_to 'Read More', art, class: 'btn btn-primary mb-2' %>
                   <small class="right"><strong>Liked <%= art.likes.count %></strong></small>
                 </div>
           </div>
          </div>
        <% end %>
     </div>
  </div>








<style media="screen">
  body {
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .right{
    float: right;
  }
</style>
