
<p id="notice"><%= notice %></p>

<div class="container my-5 text-center">
  <p>
    <strong>Title:</strong>
    <%= @art.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @art.description %>
  </p>

  
  <%= link_to 'Edit', edit_art_path(@art) %> |
  <%= link_to 'Back', arts_path %>
</div>

<style media="screen">
  body{
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
</style>
